<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tanlangan recordku</title>
</head>
<body>
    <h1><center>Tanlangan recorddagi barcha ma'lumotlar:</center></h1>
    <br>
    <hr>
    <br>
    <h3><li>Talaba:{{tanlangan_record.talaba.ism}},Kitob:{{tanlangan_record.kitob.nom}},Kutubxonachi:{{tanlangan_record.kutubxonachi.ism}},Olingan sana:{{tanlangan_record.olingan_sana}},Qaytardi:{{tanlangan_record.qaytardi}},Qaytarish sanasi:{{tanlangan_record.qaytarish_sanasi}}</li></h3>
</body>
</html>