<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>
<body>
    <p><h1><center>Kutubxonamizga xush kelibsiz!</center></h1></p>
    <br>
    <hr>
    <br>
    <a href="/hamma_kitoblar/"><li>Kitoblar</li></a>
    <br>
    <a href="/talabalar/"><li>Talabalar</li></a>
    <br>
    <a href="/mualliflar/"><li>Mualliflar</li></a>
    <br>
    <a href="/hamma_recordlar/"><li>Recordlar</li></a>
    <br>
    <a href="/kutubxonachilar/"><li>Kutubxonachilar</li></a>
    <br>
    <a href="/logout/" style="text-decoration: none; color: red;">
                Log out
    </a>
</body>
</html>